* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: #333;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: black;
    height: 70px;
}

.logo-left, .searchbar-right {
    float: left;
    width: 50%;
}

.logo-left h1 {
    color: red;
    line-height: 70px;
    margin-left: 20px;
}

.searchbar-right {
    text-align: right;
}

.input-ricerca {
    height: 30px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.bottone-ricerca {
    background-color: red;
    border: 1px solid red;
    color: white;
    font-weight: bold;
    height: 30px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container::after {
    clear: both;
    content: '';
    display: table;
}

#wrapper {
    padding-top: 40px;
    text-align: center;
}

h2 {
    color: white;
}

p {
    color: white;
}

.card {
    float:left;
    width: 200px;
    height: 300px;
    color: white;
    margin: 20px;
    background-color: transparent;
    perspective: 1000px;
}